@import url(https://fonts.googleapis.com/css?family=VT323);


.battle-heading {
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    font-family: VT323;
}

.container-battle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-family: VT323;
   
   
}

.container-battle-child {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    font-family: VT323;
}

.battle-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}